@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Oswald:wght@500&family=Righteous&display=swap');
*{
  padding: 0%;
  margin: 0%;
}
body{
  font-family: 'Mulish', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Righteous', cursive;
}
header{
  position: relative;
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4%;
  width: 20px;
  justify-content: space-evenly;
}
.brand h1{
  margin-left: 40%;
}
.navbar{
  position: relative;
  width: 70%;
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.serchbox{
  position: relative;
  width: 40%;
}
.serchbox input{
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 8px;
  padding: 1%;
  text-indent: 10px;
  font-size: 18px;
}
#serchicon{
  position: relative;
  left: -28px;
  font-size: 20px;
  color: rgb(37,37,37);
  z-index: 221;
}
ul{
  width: 60%;
}
ul li{
  display: inline-block;
  margin-left: 8%;
  padding: 1%;
  transition: all 0.5s ease;
}
ul li a:hover{
  background: white;
  color: black;
}
ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 1% 2%;
}
.about{
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}
.about img{
  height: auto;
  width: 280px;
}
.img1 {
    height: auto;
  width: 30px;
}
.about-text{
  width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text h1{
  color: white;
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.about span{
  color: 	#FF8C00;
}
.about-text p{
  color: 	#00FFFF	;
  letter-spacing: 1px;
  line-height:28px;
  font-size: 19px;
  margin-bottom: 45px;
}
.about button{
  background: #1E90FF;
  color: white;
  text-decoration: none;
  border:2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  font-size: 18px;
}
 .about a{
  color: white;
  text-decoration: none;
}
.footer{
  position: flexed;
  bottom: 0;
}
@media (max-height:800px)
{
  footer{
    position: static;
  }
}
.footer-distributed{
  background-color:black;
  box-sizing: border-box;
  widows: 100%;
  text-align: center;
  font: bold 16px ;
  padding: 50px 50px 60px 50px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-left{
  width: 30%;
}
.footer-distributed h3{
  color: white;
  font: normal 36px 'cookie',cursive;
  margin: 0;
}
.footer-distributed h3 span{
  color: #e0ac1c;
}
.footer-distributed .footer-links{
  color: #fff;
  margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name{
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center{
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #fff;
  font-size: 25px;
  width: 38px;
  vertical-align: middle;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
}
.footer-distributed .footer-center i .fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p{
  display: inline-block;
  color: white;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a{
  color: #e0ac1a;
  text-decoration: none;
}
.footer-distributed .footer-right{
  width: 30%;
}
.footer-distributed .footer-right{
  width: 30%;
}
.footer-distributed .footer-company-about{
  line-height: 20px;
  color: gray;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span{
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons{
  margin-top: 25px;
}
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover{
  background-color: #3f71ea;
}
@media(max-width:880px){
  .footer-distributed .footer-links,.footer-distributed .footer-center,.footer-distributed .footer-right{
    display: block;
    width: 100;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}
